.Oscilloscope {
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.Oscilloscope canvas {
  display: block;
}
