.DrumMachineContainer {
  background: #333;
  color: white;
  padding: 10px;
  margin: 10px;
  user-select: none;
}

.DrumMachineContainer h2 {
  padding-bottom: 5px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid white;
  font-weight: 100;
  letter-spacing: -0.05em;
}

.DrumMachineControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.BpmControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.BpmControl input {
  margin-right: 5px;
}

.Sequencer {
  overflow-x: auto;
}
