.ParameterControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 10px 10px 0;
}

.ParameterControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.ParameterControl label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.ParameterControl input {
  margin-right: 10px;
}
